PORT=3000

DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=rdam

JWT_SECRET=your_jwt_secret
JWT_PUBLIC_EXPIRES=1h

PLUSPAGOS_URL=http://localhost:3010
PLUSPAGOS_MERCHANT_GUID=test-merchant-001
PLUSPAGOS_SECRET_KEY=clave-secreta-campus-2026

APP_BASE_URL=http://localhost:3000